@import "../../../../../variables.module"

.reviews
  display: flex
  justify-content: space-between
  padding: 5% 2%
  margin-top: 2%
  border: 1px solid #ebebeb
  button
    height: 5vh
    width: 15%
    background-color: #ffcc33
    border: none
    border-radius: 20px
    outline: none
    cursor: pointer
    &:hover
      background-color: #f1383e
      color: white
      transition: all .5s

.review
  display: flex
  flex-direction: column

.reviewTitle
  margin-bottom: 4%
  font-size: 2vw

.reviewText
  color: #6e6e6e

.reviewForm
  display: flex
  flex-direction: column
  justify-content: center
  border: 1px solid #ebebeb
  width: 220%
  min-height: 90vh
  padding: 2%
  margin-bottom: 10%
  div
    margin: 1% 0
  input
    height: 30px
    width: 95%
  textarea
    width: 95%
    height: 60px
  button
    display: flex
    align-items: center
    justify-content: center
    @include descriptionButton
    width: 150px
    font-size: 17px
    font-weight: 300
    color: black